---
const { data } = Astro.props;
import Button from "./Button.astro";
---

<li>
  <article class="grid">
    <a class="article_knap" href={`/artister/${data.slug}`}>
      <div>
        <img class="test" src=`../../img/${data.image}` alt={data.name} />
      </div>
      <div class="tekst_card">
        <h4>{data.dag} {data.tid}</h4>
        <h4>{data.name}</h4>
        <hr />
        <a class="knap" href={`/artister/${data.slug}`}>
         <Button variant="second">Read More</Button>
        </a>
      </div>
    </a>
  </article>
</li>

<style>
  article {
    margin-inline: 3rem;
    border: solid;
    border-radius: var(--border-radius-large);
    border-color: var(--pink-100);
    margin: 4rem;
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--hvid);
  }

   .knap {
    display: grid;
      place-items: end;
      margin-top: 1.5rem;
    }
  @media (max-width: 800px) {
    img,
    hr,
    .knap {
      display: none;
    }
    h4 {
      font-size: 32px;
      padding: 14px;
    }
  }

  @media (min-width: 800px) {
    img {
      border: solid;
      border-radius: var(--border-radius-large);
      border-color: var(--pink-100);
    }

    .test {
      width: 400px;
      height: 260px;
      object-fit: cover;
      margin: 1.5rem 0rem 1.5rem 1.5rem;
    }

    .tekst_card {
      border: solid;
      border-radius: var(--border-radius-large);
      border-color: var(--pink-100);
      margin: 1.5rem;
      padding: 1.5rem;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }
</style>
